.container{
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .p-title{
    font-size: 18px;font-weight: bold;
  }
  .p-date{
    font-size: 13px;color:rgb(121, 121, 121);margin: 0px;
  }
  .row-gioithieu{
    background-color: rgb(255, 255, 255);border-radius: 20px 20px 20px 20px;
  }